:root {
  --cafe: #a03d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize;
    transition: 0.2s linear; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
section {
  margin-top: 8rem;
  padding: 2rem 4%;
}
.titulo {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.05);
}
.titulo span {
  color: var(--cafe);
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  background: var(--cafe);
}

/*  Inicio y banner  */
/* CSS Pagina principal */
.inicio {
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(255, 255, 255);
  display: block;
  align-items: start;
  justify-content: start;
  margin-top: 70.19px;
}

.banner {
  background-color: rgb(255, 255, 255);
  width: 100%; /* / Ajusta la altura máxima según tus necesidades / */
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -140px;
}
.banner > img {
  width: 200%;
  max-width: 90vw;
  height: auto;
  margin: auto;
}

/* / .row-banner {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
} /

/ .figura1 {
  background-color: rgb(255, 255, 255);
  max-width: 70%;
}
.figura1 > img {
  width: 80%;
  height: auto;
  right: 209px;
}  */

.content-text > .content {
  max-height: 100vw;
  max-width: 80rem;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background: rgb(48, 121, 0);
  padding: 3rem;
  border-radius: 70px;
}

.content-text > .content > h3 {
  font-size: 5rem;
  color: #355f43;
  text-align: left;
}

.content-text > .content > span {
  font-size: 3.5rem;
  color: var(--cafe);
  padding: 1rem 0;
  line-height: 1.5;
  text-align: left;
}

.content-text > .content > p {
  font-size: 1.5rem;
  color: #999;
  padding: 1rem 0;
  line-height: 1.5;
  text-align: left;
}

.fixed-image {
  position: fixed;
  bottom: 0;
  right: 0; /*  Cambiamos 'right' a 'left' para posicionar en la esquina izquierda  */
}

.fixed-logo {
  max-width: 150px; /*  Tamaño máximo del logotipo, ajústalo según tus necesidades */
}

/*Sobre nosostros*/
/* .sobre-nosotros .row .imagen-container {
  flex: 1 1 40rem;
  position: relative;
}
.sobre-nosotros .row .imagen-container img {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
  object-fit: cover;
}
.sobre-nosotros .row .imagen-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}
.sobre-nosotros .row .content {
  flex: 1 1 40rem;
}
.sobre-nosotros .row .content h3 {
  font-size: 3rem;
  color: #333;
}
.sobre-nosotros .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
} */

/*Media Queries*/

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .inicio {
    background-position: left;
  }
}
@media (max-width: 778px) {
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
  .home .content h3 {
    font-size: 5rem;
  }
  .home .content span {
    font-size: 2.5rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .titulo {
    font-size: 3rem;
  }
}

/* codigo dani */
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card1 {
  background-image: url("./images/textura-verde-y-agua-1546\ \(1\).jpg");
  background-blend-mode: multiply;
  background-color: #a0c05e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: 300px;
  margin-right: 20px;
  text-align: center;
  box-shadow: 0 0 5px 2px #888888;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: aliceblue;
}
.card2 {
  background-image: url("./images/shutterstock_499161889.jpg");
  background-color: #92d709; /* Fondo blanco */
  background-size: 400px 300px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: 300px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.card3 {
  background-image: url("./images/bigstock-Ecology-Compost-Supply-Kitch-338507758.webp");
  background-size: 400px 320px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: 300px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.card4 {
  background-image: url("./images/texturas-hojas-hd-photoshop\ \(1\).jpg");
  background-color: #c59a69;
  background-blend-mode: multiply;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: 300px;
  margin-right: 20px;
  text-align: center;
  box-shadow: 0 0 5px 2px #888888;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: aliceblue;
}
.card5 {
  background-image: url("./images/Textura-grafiato-04.jpg");
  background-blend-mode: multiply;
  background-color: #ffcc05;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: 300px;
  margin-right: 20px;
  text-align: center;
  box-shadow: 0 0 5px 2px #888888;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: aliceblue;
}
.card6 {
  background-image: url("./images/compost_love.jpg.1900x0_q85.jpg");
  background-size: 400px 300px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: 300px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 20px;
}
